<div class="tutorial-container">
    <div class="tutorial-item">
        <p><b>1. </b>Prepare the table data in an Excel spreadsheet.
            You can place data in different sheets.
            You can name the columns for convenience,
            but you don't have to.
        </p>
        <a><img src="../assets/step01.png" alt="step01 picture"></a>
    </div>
    <div class="tutorial-item">
        <p><b>2. </b>Prepare a template Word document.
            Place sheet name surrounded by a # character
            at the begining and end of the pieces you
            want to fill with data from Excel.<br>
            Place columns letters surrounded by #
            character in their places
            in the marked section.<br>
            A template can have as many fragments as you need.<br>
            That is enough if you
            are using columns letters and want to process all rows
            of the sheet. Go to the last step.
        </p>
        <a><img src="../assets/step02.png" alt="step01 picture"></a>
    </div>
    <div class="tutorial-item">
        <p><b>3. </b>Put columns names into any
            row of your sheet to use names
            instead of columns letters in the template.
        </p>
        <a><img src="../assets/step03.png" alt="step03 picture"></a>
    </div>
    <div class="tutorial-item">
        <p><b>4. </b>If you have specified columns names,
            put the row number
            containing the names after colon in
            the start label of the fragment. This will process all
            rows of the sheet but not row 1.
        </p>
        <a><img src="../assets/step04.png" alt="step04 picture"></a>
    </div>
    <div class="tutorial-item">
        <p><b>5. </b>
            To select a range of rows for processing, place the
            start and end row numbers in the start label
            after the names row number, using colon as separator.
            Omit colon and end row number for processing rows to the end.
            If you are using columns letters instead of the names
            put 0 as the row number of names.
        </p>
        <a><img src="../assets/step05.png" alt="step05 picture"></a>
    </div>
    <div class="tutorial-item">
        <p><b>6.</b>
            To filter data, place after the fourth colon
            logical expression that can compare row data and return
            True or False<br>
            There is some rules to follow:<br>
            To compare data use: ==, >, >, >=,<=<br>
            To check if substring in data use: "text" in column_name<br>
            To convert data to numeric use function: N()<br>
            Fill free to use parentheses<br>
            If you not use rows range selection just put nothing 
            after any colon
        </p>
        <a><img src="../assets/step06.png" alt="step06 picture"></a>
        For example:<br>
        ...:(N(A)>100 and N(B)<=650) or "sometext" in C <br>
    </div>
    <div class="tutorial-item">
        <p><b>7. </b>
            To render fixed cell from sheet use following trick:
            put the sheet name and 
            cell address in A1 notation, separated by a dot.            
        </p>
        <a><img src="../assets/step07.png" alt="step07 picture"></a>
    </div>

    <div class="tutorial-item" style="grid-template-columns: 100%">
        <p><b>8. </b>That is it. Upload two files to the
            workspace on this page,
            press the big yellow button 
            <button id="workit_button" mat-raised-button disabled class="button_single_on_row" 
                style="min-width: 0px;min-height: 0px; width:auto;">
                Convert data 2 doc</button>
            and enjoy the result.docx file.
        </p>
    </div>
</div>