<ng-template #menuItems>
  <a mat-button href="#Workspace">Workspace</a>
  <a mat-button href="#Tutorial">Tutorial</a>
  <a mat-button href="#Gallery">Gallery</a>
  <a mat-button href="#Pricing">Pricing</a>
  <a mat-button (click)='navBarCommand("C")'>Contact us</a>
  <!--
    <div *ngIf="!loggedIn">
      <a mat-button (click)='navBarCommand("L")'>Login</a>
    </div>
    <div *ngIf="loggedIn">
      <a mat-button (click)='navBarCommand("O")'>Logout</a>
    </div>
  -->
</ng-template>

<ng-template #menuButton>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</ng-template>
<mat-sidenav-container class="sidenav-container">
  <!-- vertical popup bar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport position="{{pos}}">
    <mat-toolbar style="background-color:royalblue ;color:white;">
      <ng-container [ngTemplateOutlet]="menuButton"></ng-container>
    </mat-toolbar>
    <mat-nav-list fxLayout="column" fxLayoutAlign="start" (click)="drawer.toggle()">
      <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
      <button mat-button style="background-color:rgb(240, 240, 240)">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>Close menu
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Horizontal bar -->
  <mat-sidenav-content fxStyle="center center">
    <mat-toolbar color="primary">
      <!-- <mat-icon>transform</mat-icon> -->
      <img src="assets/d2dlogowhite.svg" width="32" height="32">
      data2doc
      <div fxFlex fxLayoutAlign="end">
        <div id="hMenu" fxFlex fxLayout="row" fxLayoutAlign="end">
          <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
        </div>
        <div id="menuButton0">
          <ng-container [ngTemplateOutlet]="menuButton"></ng-container>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>