.page-container
    {
    max-width: 1000px;
    margin: auto;
    padding-top: 64px;
    width:100%;
    }
.workplace-container, .explain-steps-container
{
    /* vertical */
    height: fit-content;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgba(184, 223, 255,0.3);
}

.explain-steps-container p{
    padding: 20px;
    text-align: justify;
    font-size: large;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: wheat;

}

.explain-steps-container a{
    max-width: 500px;
    /* height:200px; */
    align-items: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: wheat;
}

button 
    {
    background: rgb(18, 199, 93);
    font-size: 16px;
    padding: 2%;
    margin:2%;
    min-width: 100px;
    min-height: 80px;
    width: 100%;
    }
.buttons{
    position:center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 100%;
}

button:hover {
    background-color: rgb(197, 233, 216);
    color: black;
    }
.button_single_on_row
    {
    width: 96%;
    }
ngx-dropzone
    {
        background-color: rgba(41, 39, 39, 0.05);
        box-sizing: border-box;
        border:0px;
        border-style: solid;
        align-items: center; 
        border-radius: 5px; 
        display: flex; 
        height: 100%; 
        min-height: 90px !important;
        font-size: 12pt;
        justify-content: center; 
        margin: 0; 
        max-width: 100%; 
        padding: 0px 0px; 
    }
    .dzl{
        z-index: 0;
    }
    .dzp{
    height: 50%  !important; 
    min-height: 100px !important;
    width: 100%  !important;
    max-width: 100% !important;
    }
.stat-footer{
    padding: 10px;
    background-color: #3f51b5;
    color:white;
}

/* horizontal */
@media  (min-width: 500px) {
    .workplace-container,
    .explain-steps-container{
        grid-template-columns: 50% 50%;
    }
    .dz{
        min-height:100% !important;
    } 
    .dzp{
        min-height: 160px !important;
        }
    .buttons{ 
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        }
}