<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{{title}}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <div class="page-container" id="Workspace">
    <div>
      <app-navbar [loggedIn]="loggedIn" (checkLoginEvent)="checkLogin()"></app-navbar>
    </div>
    <div class="workplace-container">
      <div class="files">
        <ngx-dropzone class="dz" (change)="onSelectDz($event)" [disabled]="false" [multiple]="true" [expandable]="true">
          <ngx-dropzone-preview class="dzp" *ngFor="let f of filesDz" [removable]="true" (removed)="onRemoveDz(f)">
            <ngx-dropzone-label class="dzl"> {{f.name}}(size {{f.size}} Bytes)</ngx-dropzone-label>
          </ngx-dropzone-preview>
          <div style="font-size: 10pt;">Drop both DOCX and XLSX files to this area or click to select</div>
        </ngx-dropzone>
      </div>
      <div class="buttons">
        <button id="workit_button" mat-raised-button class="button_single_on_row" (click)="data2doc()">Convert data 2
          doc</button>
        <div>
          View example files:
          <div style="display: flex;margin: auto;">
            <button mat-raised-button class="button2" (click)='downloadExample("docx")'>DOCX</button>
            <button mat-raised-button class="button2" (click)="downloadExample('xlsx')">XLSX</button>
          </div>
        </div>
        <button mat-raised-button class="button_single_on_row" (click)="downloadExampleFiles()">Reload example
          files</button>
      </div>
    </div>
    <div class="stat-footer" [hidden]="rowCount<=0">Files processed {{rowCount}}</div>
    <h2 class="placeHeader">Step-by-step guide.</h2>
    <a class="navBarAnchor" id="Tutorial"></a>
    <app-tutorial></app-tutorial>

    <h2 class="placeHeader">Gallery</h2>
    <a class="navBarAnchor" id="Gallery"></a>
    <div class="gallery-container">
      <div class="tutorial-item">
        <p><b>Resume.</b> Prepare content in the spreadsheet, use
          templates to render it in many styles.
        </p>
        <a></a>
      </div>
      <div class="tutorial-item">
        <p><b>Invitation.</b> Prepare list of guests in the spreadsheet, use
          templates to render it in many styles.
        </p>
        <a></a>
      </div>
      <div class="tutorial-item">
        <p><b>Menu.</b> Prepare list of dishes in the spreadsheet, use
          templates to render it in many styles.
        </p>
        <a></a>
      </div>
    </div>
    <h2 class="placeHeader">Pricing</h2>
    <div class="pricing" id="Pricing">
      <div class="price" fxLayout="row" fxLayoutAlign="space-around center">free</div>
      <div class="price" fxLayout="row" fxLayoutAlign="space-around center">standard</div>
      <div class="price" fxLayout="row" fxLayoutAlign="space-around center">team</div>
    </div>
    <div class="page-footer" fxFlexFill fxLayoutAlign="center center">
      <div style="margin:40px;">
        <a>Free for testing</a>
      </div>
    </div>
  </div>
</body>

</html>