* {
    box-sizing: border-box;
} 
.menu-button 
    {
    background: rgb(115, 207, 153);
    height: 90px;
    margin: 5px 0px;
    padding: 5px;
    width: 100%;
    }
.page-container
    {
    max-width: 1000px;
    width:100%;
    margin: auto;
    height: 100%;
    background-color: cornflowerblue;
    }
.header
    {
        margin: auto; 
    }
.dz{
    background: rgb(32, 134, 194);
    margin: auto;
}
.dzl{
    margin: 5px;
    width:auto;
}
.dzp{
    width:50px;
}