.page-container
    {
    max-width: 1000px;
    margin: auto;
    padding-top: 64px;
    text-align: center ;
    width:100%;
    }

.workplace-container{
    height: fit-content;
    margin: auto;
    height: auto;
    display: grid;
    padding-bottom: 10px;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    background-color: rgba(184, 223, 255,0.3);
    
}
   
.tutorial-container, .gallery-container
{
    height: fit-content;
    margin: auto;
    height: auto;
    display: grid;
    padding-bottom: 10px;
    grid-row-gap: 20px;
}

.tutorial-item {
    background-color: rgba(184, 223, 255,0.3);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(84, 190, 120);
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 10px;
}

.navBarAnchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}


.tutorial-item p, .gallery-container p{
    padding: 20px;
    text-align: justify;
    font-size: large;
}

.tutorial-item a, .gallery-container a{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    /* border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(136, 251, 255); */
}

button 
    {
    background: rgb(18, 199, 93);
    font-size: 16px;
    padding: 2%;
    margin:2%;
    min-width: 100px;
    min-height: 80px;
    width: 100%;
    }

button:hover {
    background-color: rgb(197, 233, 216);
    color: black;
    }
.button_single_on_row
    {
    width: 96%;
    }
ngx-dropzone
    {
        background-color: rgba(41, 39, 39, 0.05);
        box-sizing: border-box;
        border:0px;
        border-style: solid;
        align-items: center; 
        border-radius: 5px; 
        display: flex; 
        height: 100%; 
        min-height: 320px !important;
        font-size: 12pt;
        justify-content: center; 
        margin: 0; 
        max-width: 100%; 
        padding: 0px 0px; 
    }
    .dzl{
        z-index: 0;
    }
.dzp{
    height: 50%  !important; 
    min-height: 125px !important;
    width: 100%  !important;
    max-width: 100% !important;
}
.stat-footer{
    padding: 10px;
    background-color: #3f51b5;
    color:white;
}

/* vertical if  less than */ 
@media  (max-width: 1000px) {
    .tutorial-item, .gallery-container{
        grid-template-columns: 100%;
    }
    .tutorial-item a, .gallery-container a{
        border: hidden;
    }
    .tutorial-item p, .gallery-container p{
        padding-bottom: 0px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
}
/* vertical if  less than 700px*/ 
@media  (max-width: 700px) {
    .workplace-container {
        grid-template-columns: 100%;
    }
    ngx-dropzone {
        min-height: 90px !important;
    }
    .dzp{
        margin: 0 auto;
        min-height: 50px !important;
        }
    .tutorial-item p, .gallery-container p{
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
}
/* vertical less than ... */
@media  (max-width: 530px) {
    img {width: 100%;
    }
}

.placeHeader {
    padding-top: 10px;
}

.pricing{
    padding: 50px;
    background-color: rgba(184, 223, 255,0.3);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(84, 190, 120);
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

/* vertical less than ... */
@media  (max-width: 600px) {
    .pricing {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
    }
}


.price{
    width: 90%;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    font-size: x-large;
    border-color: rgb(84, 190, 120);
    background-color: rgb(127, 238, 238);
    margin: 0 auto;
}